@import "tailwindcss";

body {
    background: linear-gradient(120deg, #111111, #1c1c1c, #1a1a1a);

    position: relative;
    min-height: 100vh;
    margin: 0;
    overflow: auto;
}

/* Subtle neon glow overlay */
body::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: radial-gradient(circle, #5d5b5b, transparent 40%);
    opacity: 0.1; /* Soft glow */
    pointer-events: none;
}

